:root {
  --body: #343a40;
  --navBar: #3a444e;
  --card: #656e77b7;
}

.navbar-top {
    width: 100%;
    height: 70px;
    background: var(--navBar);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    z-index: 1;
  }
  
  .icon {
    color: #fff;
  }
  
  .logo-mobile {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .logo-mobile-img {
    display: none;
  }
  
  .btn-toggle {
    background: transparent;
    border: none;
    position: relative;
  }
  
  .btn-icon {
    font-size: 2em;
    cursor: pointer;
  }
  
  .nav-top {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  
  .nav-top-list {
    width: 100%;
    height: 100%;
  }
  
  .nav-top-list .list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav-top-list .list .li {
    width: 100%;
    height: 100%;
  }
  
  .nav-top-list .list .li .icons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .nav-top-list .list .li .icons .a-icon {
    display: none;
  }
  
  .nav-top-list .icons a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-left: -10%;
  }
  
  .search {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  form .input-search {
    height: 30px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding-left: 10px;
    background: var(--navBar);
    border: 2px solid #62707e;
    color: #fff;
  }
  
  form .btn-search {
    height: 30px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    border-left: none;
    border-top: 2px solid #62707e;
    border-bottom: 2px solid #62707e;
    border-right: 2px solid #62707e;
    background: var(--navBar);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-search .icon-search {
    font-size: 0.7em;
  }
  
  .profile {
    width: 15%;
    height: 100%;
  }
  
  .img {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .avatar .img-profile {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .img .listConfig {
    background: var(--navBar);
  }
  
  .img .listConfig li a {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    font-size: 0.7em;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  
  .img .listConfig li a:hover {
    color: #000;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  
.navbar-left {
    display: none;
}

  
@media screen and (min-width: 992px) {
    
    /************************************/
    /**  ESTILOS PANTALLA ADMINISTRADOR */
    /**  DASHBOAR                       */
    /************************************/

  .navbar-top {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  .logo-mobile {
    justify-content: flex-start;
  }

  .logo-mobile-img {
    width: 50%;
    height: 100%;
    display: flex;
    cursor: pointer;
  }

  .btn-toggle {
    display: none;
  }

  .search {
    justify-content: center;
    align-items: center;
  }

  form {
    margin-left: 30%;
  }

  form .input-search {
    width: 300px;
  }

  .profile {
    width: 30%;
  }

  .img {
    display: flex;
    flex-direction: row;
  }

  .avatar {
    width: 20%;
    height: 100%;
    border-radius: 0;
    order: 2;
    margin-left: 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

  .name {
    height: 100%;
    width: 70%;
    color: #fff;
    order: 1;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;
  }

  .name h2,
  .name h3 {
    font-size: 0.8em;
  }

  .img .listConfig li a {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    font-size: 0.9em;
  }
  
    .navbar-left {
        background: var(--navBar);
        width: 70px;
        height: 100vh;
        position: fixed;
        display: flex;
        margin-top: auto;
        z-index: 0;
    }

    .list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        background: var(--navBar);
    }

    .list .li {
        background: transparent;
        width: 70px;
        height: 70px;
        list-style: none;
        margin-left: -30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .list .li:first-child {
        background: var(--body);
    }

    .icons {
        width: 100%;
        height: 100%;
    }

    .icons .a-icon {
        width: 100%;
        height: 100%;
        font-size: 1.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .icons a {
        display: none;
    }
}